body {
	display: flex;
	justify-content: center;
	opacity: 0.3;
	transition: opacity 0.2s;
}

body:hover {
	opacity: 1;
}

#logo {
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

.slider {
	cursor: pointer;
}
